.code-area .paragraph-box .text {
    -fx-font-size: 15px;
    -fx-fill: white;

}
.code-area .paragraph-box{
    -fx-background-color:#212121;
    -fx-font-family: "Fira Code SemiBold";
}
.code-area .caret {
    -fx-stroke: white;
}
.code-area {
    -fx-background-color: #1c1c1c;

}

.code-area .label {
-fx-background-color:#121212;
-fx-text-fill:white;
-fx-text-alignment: center;
-fx-alignment:center;
}
.code-area .paragraph-box .equal {
    -fx-fill: gray;
}
.code-area .paragraph-box .declaration {
    -fx-fill: gray;
}
.code-area .paragraph-box .start-tag {
    -fx-fill: ffac1c;
}
.code-area .paragraph-box .end-tag {
    -fx-fill: #ffac1c;
}
.code-area .paragraph-box .data {
     -fx-fill: #d7d1d1;
 }
.code-area .paragraph-box .bracket {
    -fx-fill: #ffac1c;
}

.code-area .paragraph-box .attribute {
    -fx-fill: #4a1d75;
}
.code-area .paragraph-box .att_value {
    -fx-fill: #054805;
}
.code-area .paragraph-box .error {
    -fx-fill: #881919;
    -fx-underline: true;
}
.code-area .paragraph-box .error-attr {
    -fx-fill: #ba3119;
    -fx-underline: true;
}
.comment {
    -fx-fill: teal;
}
.jfx-tab-pane .depth-container .tab-header-area .tab-header-background {
-fx-background-color: #121212 ;
}


