.code-area .paragraph-box .text {
    -fx-font-size: 15px;
    -fx-fill: white;

}
.jfx-tab-pane .depth-container .tab-header-area .tab-header-background {
    -fx-background-color: #212121 ;
}

.code-area .paragraph-box{
    -fx-background-color: #212121;
    -fx-font-family: "Fira Code SemiBold";
}
.code-area .caret {
    -fx-stroke: white;
}
.code-area {
    -fx-background-color: #212121;

}

.code-area .label {
    -fx-background-color: #403f3f;
    -fx-text-fill:white;
    -fx-text-alignment: center;
    -fx-alignment:center;
}

.label {
    -fx-font-family: "Fira Code SemiBold";

}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color:#212121;
    -fx-border-color:#212121;
    -fx-background-radius: 0em;
    -fx-border-radius:2em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 0 10 0;

}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {

    -fx-background-color:transparent;
    -fx-background-radius: 0em;
    -fx-padding:0 10 0 0;

}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow
{
    -fx-shape: " ";
    -fx-padding:0;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color:derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}



.code-area .paragraph-box .equal {
    -fx-fill: gray;
}

.code-area .paragraph-box .declaration {
    -fx-fill: gray;
}
.code-area .paragraph-box .start-tag {
    -fx-fill: ffac1c;
}
.code-area .paragraph-box .end-tag {
    -fx-fill: #ffac1c;
}
.code-area .paragraph-box .data {
     -fx-fill: #d7d1d1;
 }
.code-area .paragraph-box .bracket {
    -fx-fill: #ffac1c;
}

.code-area .paragraph-box .attribute {
    -fx-fill: #4a1d75;
}

.code-area .paragraph-box .att_value {
    -fx-fill: #054805;
}
.code-area .paragraph-box .greenEl {
    -fx-fill: #71b300;
}
.code-area .paragraph-box .error-form {
    -fx-fill: #881919;
    -fx-underline: true;
}
.code-area .paragraph-box .error-valid {
    -fx-fill: #ff6347;
    -fx-background-color: yellow;
    -fx-underline: true;
}
.comment {
    -fx-fill: teal;
}






