.code-area .paragraph-box .text {
    -fx-font-size: 15px;
}
.normal{
    -fx-fill:green;
}
.tagmark {
    -fx-fill: gray;
}
.anytag {
    -fx-fill: crimson;
}
.paren {
    -fx-fill: firebrick;
    -fx-font-weight: bold;
}
.attribute {
    -fx-fill: blue;
}
.avalue {
    -fx-fill: green;
}

.comment {
    -fx-fill: teal;
}

